<!DOCTYPE html>
<html>
  <head><title> Welcome to the Varseq axum Server</title></head>
  <body>
       <h1> This server is specifically for the population scale variant search </h1></br>
       <p> The server is mainly used for the analysis and the storage of the variants</br>
         The webserver takes a population variant folder and the postgres database id and
         then builds a stand alone database for the same.
        </p>
       <h2> About: Gaurav Sablok, codeprog@icloud.com </h2>
  </body>
</html>
